body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.3;
  background: rgb(8,53,78);
  background: linear-gradient(0deg, rgba(8,53,78,1) 0%, rgba(32,175,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-size: 23px;
  margin-bottom: 16px;
  background-color: #08354e;
  color: white;
  padding: 17px;
  display: inline-block;
  transform: rotateZ(-3deg)
}

h2 {
  font-size: 24px;
  margin-top: 42px;
  border-bottom: 4px solid #08354e;
  display: inline-block;
}

h3 {
  font-size: 21px;
}

h2,h3,h4,h5,h6 {
  color: #08354e;
  margin-bottom: 0px;
}

h2 a, h2 a:hover {
  text-decoration: none;
  color: #08354e;
}


p, div {
  color: #08354e;
  font-size: 18px;
}

a {
  color:#12628e;
}

a:hover {
  text-decoration: underline;
}

ol, ul{
  padding-left: 1.5em;
  list-style-position: outside;
}

ol li, ul li{
  margin-bottom: 0.5em;
  margin-left: 0;
  padding-left: 0;
}


img[src*="#stretch"] {
  width:100%;
  max-width: 100%;
}

img[src*="#left"] {
  width: 45%;
  float: left;
  margin: 0 2em 1em 0;
}

img[src*="#right"] {
  width: 45%;
  float: right;
  margin: 0 0 1em 2em;
}

@media (max-width: 599px) {
  img[src*="#left"], img[src*="#right"] {
    width: calc(100% + 32px);
    float: none;
    margin-left: -16px;
    margin-right: 0;
  }
}

br.clear {
  clear: both;
}

img[src*="#right-desktop"] {
  width: 45%;
  float: right;
  margin: 0 0 1em 2em;
}

@media (max-width: 599px) {
  img[src*="#right-desktop"] {
    display: none;
  }
}
